<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<p>
  <strong>By:</strong>
  <%= @message.by_id %>
</p>

<p>
  <strong>For:</strong>
  <%= @message.for_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
