- content_for :title do
  Connecting your college to you
- content_for :pagecss do
  - stylesheet_link_tag "index/index.css"

= render "common/nav_bar"

- content_for :body do
  .container
    .row
      .col-md-12.mt60
        .col-md-8.text-center
          .hero-text
            %p
              Connecting your college to you
            %p.small.fw14
              A social network exclusively for college students, we will help you stay in touch with your college friends
              and more. Join. Explore. Connect. For free !
          .hero-image
            %img.img-hero{:src => "#{image_path('sprites/hero-image.png')}"}/
        .col-md-3
          .well.well-login
            .signin-inner
              = form_for(@user, url: "/users/sign_in", :html => {:class => "form-horizontal"}) do |f|
                %fieldset
                  .form-group
                    %input#email-login.input-vk{:placeholder => "Email", :name => "user[email]", :type => "text"}/
                  .form-group
                    %input#email-login.input-vk.hidden
                    %input#password-login.input-vk{:placeholder => "Password", :name => "user[password]", :type => "password"}/
                  .form-group.nmb
                    %input.btn.btn-sm.btn-primary.btn-login{:type => "submit", :value => "Log In"}
            .signup-facebook
              %a{:href => "#{user_facebook_omniauth_authorize_path}"}
                %span.icon-facebook
                Sign in with facebook
          .well.well-signup
            .signup-masthead
              Signup and stay connected
            = form_for(@user) do |f|
              - if @user.errors.any?
                #error_explanation
                  %h2
                    = pluralize(@user.errors.count, "error")
                    prohibited this user from being saved:
                  %ul
                    - @user.errors.full_messages.each do |message|
                      %li= message
              %fieldset
                .form-group
                  %input#first-name.input-vk{:placeholder => "First Name", :type => "text", :name => "user[first_name]"}/
                  %input#last-name.input-vk{:placeholder => "Last Name", :type => "text", :name => "user[last_name]"}/
                .form-group
                  %input#email-signup.input-vk{:placeholder => "Email", :type => "text", :name => "user[email]"}/
                .form-group
                  %input#password-signup.input-vk{:placeholder => "Password", :type => "password", :name => "user[password]"}/
                .form-group
                  %label.radio-inline
                    %input#male{:checked => "checked", :name => "user[gender]", :type => "radio", :value => "1"}/
                    Male
                  %label.radio-inline
                    %input#female{:name => "user[gender]", :type => "radio", :value => "0"}/
                    Female
                .form-group
                  %input.btn.btn-success.wf{:name => "commit", :type => "submit", :value => "Signup"}

    .row
      %hr/
      .col-md-6
        %p.copyright-and-version-info
          Collegetrends © 2017 [Beta 0.1.1]


- content_for :pagejs do
  /- javascript_include_tag "helpers/posts/firefly.posts.js", "helpers/chat/firefly.chat.js", "home/firefly.home.js"
