<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Home town:</strong>
  <%= @user.home_town %>
</p>

<p>
  <strong>College:</strong>
  <%= @user.college %>
</p>

<p>
  <strong>Relationship status:</strong>
  <%= @user.relationship_status %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
