- content_for :title do
  Home
- content_for :pagecss do
  - stylesheet_link_tag "home/home.css", "chat/chat.css"
= render "common/session_nav_bar"
= render "common/sidebar"
- content_for :body do
  .container
    .row
      .col-md-8
        = render "widgets/post_status_div"
        .posts-container
          = render partial: "widgets/post_card"
      .col-md-4
        = render "widgets/mini_profile_card"
        = render "common/about_us"

  = render "templates/post_card_template"
  = render "templates/post_card_meta_template"

- content_for :pagejs do
  - javascript_include_tag "lib/post/post.js", "home/home.js", "chat/chat.js"
