.well.well-md.well-card.well-profile-sm
  .header.text-center
    %a{:href => "/profile/#{@user.username}"}
      %img.img-circle{:alt => "...", :src => "#{@user.profile_picture}", :width => "60"}/
    %h4
      = @user.first_name
      = @user.last_name
    %p.small
      = @user.college
    %p.small
      %b.text-primary
        = @user.followers.count
      Followers
      |
      %b.text-primary
        = Follower.where('follower_id = ?', @user.id).count
      Following
    %hr/
    %p
      %a.btn.btn-primary{:href => "/profile/#{@user.username}/edit"} Edit profile
      %a.btn.btn-default{:href => "/profile/#{@user.username}"} View profile
