- @posts.each do |post|
  - comments_count = post.comments.count

  .well.well-sm.well-card.well-feed{"data-post-id" => "#{post.id}", "data-post-likes-count" => "#{post.post_likes.count}"}
    .body
      .media
        .media-left
          %a{:href => "/profile/#{post.user.username}"}
            %img.media-object.img-circle{:alt => "...", :src => "#{post.user.profile_picture}", :width => "35"}/
        .media-body
          - if post.user.id == current_user.id
            .pull-right
              %span.icon.icon-bin.delete-post{:title => "Delete this post"}
              .loader.loader-inner.ball-pulse.pull-right.post-operation-loader.hidden
                %div
                %div
                %div
          %h5.media-heading
            = post.user.first_name
            = post.user.last_name
          %small
            = time_ago_in_words(post.created_at)
            ago
          %p
            = post.content.html_safe
          - if post.post_meta
            .post-meta-container
              .media
                .media-left
                  %a{:href => "#{JSON.parse(post.post_meta)["url"]}"}
                    %img.media-object{:src => "#{JSON.parse(post.post_meta)["image"]}", :width => "150", :height => "100"}/
                .media-body
                  %h4.media-heading
                    = JSON.parse(post.post_meta)["title"]
                  %p
                    = JSON.parse(post.post_meta)["description"]
      .footer
        - if PostLike.where('post_id = ? AND liked_by = ?', post.id, current_user.id).first.nil?
          %a.post-btn.like-btn{:href => "#", "data-liked" => "0"}
            %span.icon.icon-heart
            %span Like
        - elsif
          %a.post-btn.like-btn{:href => "#", "data-liked" => "1"}
            %span.icon.icon-heart
            %span Like

        %a.post-btn.comment-btn{:href => "javascript:void(0)"}
          %span.icon.glyphicon.glyphicon-comment
          %span Comments
    .comments-container{:hidden => "true"}
      .comment-body
        .comments-list
        - if comments_count && comments_count > 5
          .load-more-comments
            Show more comments
        .media
          .media-left
            %a{:href => "/profile/#{@user.username}"}
              %img.media-object.img-circle{:alt => "...", :src => "#{@user.profile_picture}", :width => "22"}/
          .media-body
            %p
              %textarea.comment-text{:placeholder => "Leave a comment ...", :rows => "3"}
      .comment-footer
        .row
          .col-md-12
            %button.btn.btn-primary.btn-sm.pull-right.add-comment-btn Post




