- content_for :title do
  Profile
- content_for :pagecss do
  - stylesheet_link_tag "home/home.css"
= render "common/session_nav_bar"
- content_for :body do
  .container
    .row
      .col-md-12
        = render "widgets/profile_banner"
        = render "widgets/profile_sub_menu"
    .row
      .col-md-7
        .posts-container
          = render partial: "widgets/post_card"
      .col-md-5
        = render "widgets/profile_info_card"
        = render "widgets/profile_photo_card"

  = render "templates/post_card_template"

- content_for :pagejs do
  - javascript_include_tag "lib/post/post.js", "profile/profile.js"
