    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ColllegeTrends - <%= yield :title %></title>
    <%= stylesheet_link_tag 'application'%>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.4/css/simple-line-icons.css' %>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
    <%= yield :pagecss %>
