<!DOCTYPE html>
<html lang="en">
	<head>
  	<%= render "common/head" %>
	</head>
	<body>
    <%= yield :nav_bar %>
    <%= yield %>
		<%= yield :body %>
		<%= render "common/footer" %>
	</body>
</html>
